@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@import "react-alice-carousel/lib/alice-carousel.css";

.card {
  @apply flex flex-col text-white lg:px-12 py-12 flex-1 w-1/2;
}

html {
  scroll-behavior: smooth;
}

.alice-carousel__stage-item {
  padding: 1rem;
}

.alice-carousel__prev-btn-wrapper {
  margin: 1rem;
  text-align: end;
}

.alice-carousel__next-btn-wrapper {
  margin: 1rem;
  text-align: start;
}
.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item {
  font-weight: 600;
  font-size: 2rem;
  color: #d5963d;
}

.alice-carousel__next-btn-item:hover *,
.alice-carousel__prev-btn-item:hover * {
  color: #f3bf77;
}

.alice-carousel__next-btn-item::after .alice-carousel__prev-btn-item:after {
  color: #f3b763;
  font-weight: 600;
  font-size: 2rem;
}

.alice-carousel__dots {
  display: none;
}

.client-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(213, 150, 61, 1) 50%
  );
  margin-top: 4rem;
}
